
/* styles.css */

/* Basic Reset */
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: SUSE;
    line-height: 1.6;
    background: url(mainBGRND.png);
    background-attachment:fixed;
    color: #fff;
}

header {
    text-align: center;
    padding: 50px 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 50px 20px;
}

.ai-image {
    max-width: 18%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.waitlist-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waitlist-form input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: none;
    border-radius: 5px;
    font-family: SUSE;
}


/*.waitlist-form button {
    padding: 10px 20px;
    background: #ff4081;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.waitlist-form button:hover {
    background: #ff79b0;
}*/

/* Features Section */
.features {
    text-align: center;
    padding: 50px 20px;
}

.features h2 {
    margin-bottom: 20px;
}

.features ul {
    list-style-type: none;
}

.features li {
    margin: 10px 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}



/* CSS BTN*/
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: SUSE;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
/*   border:1px solid red; */
  height: 100%;
  align-items: center;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #ff004c;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #871f3c;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}


  
  .shadowAnimation {
    position: relative;
    font-family: SUSE;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #0e0a2c, #ffffff, #0e0a2c);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 8s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(60,15,63,0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
